@using Microsoft.AspNetCore.Identity
@using Domain.Models

@inject UserManager<User> UserManager

@model IEnumerable<LibApp.WebApp.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = await UserManager.GetUserAsync(User);
}

<h1>Index</h1>

@* TODO: Prolly this instead of Identity Register *@
<p>
    <a asp-action="Create">Create New</a>
</p>
@* <p>
    <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
</p> *@
@* <p>
    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedByUser)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedByUser)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                
            @if (user?.RoleId == (int)RoleEnum.Admin)
            {
                <a class="delete-button" 
                   data-controller="Users" 
                   data-action="Delete" 
                   data-id="@item.Id" 
                   style="color: #51cbce; text-decoration: none; cursor: pointer;"
                   onmouseover="this.style.textDecoration='underline';"
                   onmouseout="this.style.textDecoration='none';">Delete</a>
            }
            </td>
        </tr>
}
    </tbody>
</table>
