@using Microsoft.AspNetCore.Identity
@using Domain.Models

@inject UserManager<User> UserManager

@model IEnumerable<LibApp.WebApp.ViewModels.BookViewModel>

@{
    ViewData["Title"] = "Index";

    var user = await UserManager.GetUserAsync(User);
}

<h1>Index</h1>

@*TODO: Different for regular and librarian*@

<p>
    <a asp-action="Create">Create New</a>
</p>

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"></path>
</svg>

<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Authors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReservedQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedByUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedByUser)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @foreach (var author in item.Authors)
                        {
                            <a href="@Url.Action("Details", "Authors", new { id = author.AuthorId })">
                                @author.AuthorName
                            </a>
                            @if (author != item.Authors.Last())
                            {
                                <span>, </span>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAvailable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailableQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservedQuantity)
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Publishers", new { id = item.PublisherId })">
                            @item.Publisher
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Categories", new { id = item.CategoryId })">
                            @item.Category
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Language", new { id = item.LanguageId })">
                            @item.Language
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByUser)
                    </td>

                    <td>
                        @if (user?.RoleId == (int)RoleEnum.Admin || user?.RoleId == (int)RoleEnum.Librarian)
                        {
                            
                            
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a class="delete-button" 
                                   data-controller="Books" 
                                   data-action="Delete" 
                                   data-id="@item.Id" 
                                   style="color: #51cbce; text-decoration: none; cursor: pointer;"
                                   onmouseover="this.style.textDecoration='underline';"
                                   onmouseout="this.style.textDecoration='none';">Delete</a>

                        }
                        else
                        {
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
