@model IEnumerable<LibApp.WebApp.ViewModels.BookViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*TODO: Different for regular and librarian*@

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Authors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReservedQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedByUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedByUser)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @foreach (var author in item.Authors)
                        {
                            <a href="@Url.Action("Details", "Authors", new { id = author.AuthorId })">
                                @author.AuthorName
                            </a>
                            @if (author != item.Authors.Last())
                            {
                                <span>, </span>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAvailable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailableQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservedQuantity)
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Publishers", new { id = item.PublisherId })">
                            @item.Publisher
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Categories", new { id = item.CategoryId })">
                            @item.Category
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Language", new { id = item.LanguageId })">
                            @item.Language
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByUser)
                    </td>
                    @* TODO: Remove this actions for regular user *@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="delete-button" asp-action="Delete" asp-route-id="@item.Id" data-book-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
