@model LibApp.WebApp.ViewModels.ReservationViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservedByUser)
        </dd>

        @if (Model.Books.Any())
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Books)
            </dt>
            <dd class="col-sm-10">
                @foreach (var book in Model.Books)
                {
                    <a href="@Url.Action("Details", "Books", new { id = book.BookId })">
                        <span>@book.BookName</span><br/>
                    </a>
                }
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoanDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoanDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsStarted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsStarted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a> |
    @if (!Model.IsStarted)
    {
        <a asp-action="Start" asp-route-id="@Model?.Id">Start</a>
    }
    else
    {
        <a asp-action="Finish" asp-route-id="@Model?.Id">Finish</a>
    }
</div>
